<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wp_course_eng/lapizzeria/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wp_course_eng/lapizzeria/index.php [L]
</IfModule>
